/* Write your code here. */
.question-box {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: 1px solid #d7dae6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
.question-button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.answer-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid #e4e7eb;
}
.answer-text {
  color: #9aa5b1;
}
.question-text {
  color: #52606d;
}
.plus-minus-btn {
  color: #cb8805;
  border: 1px solid #cb8805;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 23px;
  text-align: center;
}

@media (width < 992px) {
  .answer-text {
    font-size: 14px;
  }
  .question-text {
    font-size: 14px;
  }
  .plus-minus-btn {
    font-size: 13px;
    width: 21px;
  }
}
