/* Write your code here. */
.question-box {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: 1px solid #d7dae6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
.question-button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.answer-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid #e4e7eb;
}
.answer-text {
  color: #9aa5b1;
  font-size: 14px;
}
.question-text {
  color: #52606d;
  font-weight: 600;
  font-size: 18px;
}
.plus-minus-btn {
  background-color: transparent;
  cursor: pointer;
  border-width: 0px;
}
.plus-minus-img {
  height: 18px;
  width: 18px;
}
@media (width < 992px) {
  .answer-text {
    font-size: 12px;
  }
  .question-text {
    font-size: 14px;
  }
  .plus-minus-img {
    height: 18px;
    width: 18px;
  }
}
